@model IEnumerable<SimplePortal.DomainModel.Entities.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

@foreach (var item in Model)
{
    @item.Id <br />
    @item.Uid <br />
    @item.Login <br />
    @Html.ActionLink("Edit", "EditUser", new { uid = item.Uid })
    @Html.ActionLink("Change password", "ChangePassword", new { uid = item.Uid })
    <br />
}

@Html.ActionLink("Create new user", "CreateUser")

